/* CSS Stylesheet */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: grid;
    justify-content: center;
}

body {
    background-color: darkgray;
    height: 100vh;
    width: 100vh;
    padding: 1rem;

}

.board {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    height: 100%;
    gap: 1.5rem;
}

.board > div {
    background-color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    min-width: none;
    min-height: none;
    border-radius: 100%;
}

